#gameboard{
  position: absolute;
  top:0;
  left:0;
  border:1px solid black;
}

#UI{
  position:absolute;
  top:10vh;
  left:60vw;
  height:80vh;
  width:20vw;
}

#playerInformation{
  text-align: center;
}

#UI_Tower_Selection{
  display: none;
}

#UI_Tower_Selection button{
  width:125px;
  height:30px;
  margin-bottom:10px;
}
